<ng-template #loading>
    <div class="spinner">
        <mat-spinner></mat-spinner> <span>Teams are loading...</span>
    </div>
</ng-template>
<table *ngIf="teams$| async as teamsItems; else loading" class='table table-striped' aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created date</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teamsItems" [routerLink]="['update', team.id]">
            <td>{{team.id}}</td>
            <td>{{team.name}}</td>
            <td>{{team.createdAt | dateUA}}</td>
            <td>{{team.members |userPipe}}</td>
        </tr>
    </tbody>
</table>