
<nav>
  <a mat-button class="button" [routerLink]="['/projects', 'none']">Projects</a>
  <a mat-button class="button" [routerLink]="['/tasks', 'none']">Project Tasks</a>
  <a mat-button class="button" [routerLink]="['/teams', 'none']">Teams</a>
  <a mat-button class="button" [routerLink]="['/users', 'none']">Users</a>
</nav>

<router-outlet></router-outlet>