th{
    text-align: center;
}
td{
    text-align: center;
}
tr:nth-child(even){
    background-color: whitesmoke;
}
.spinner> mat-spinner{
    margin: auto;
}
.spinner>span{
    margin-left: 45%;
}
table{
    width: 100%;
}