<ng-template #loading>
    <div class="spinner">
        <mat-spinner></mat-spinner> <span>Projects are loading...</span>
    </div>
</ng-template>

<table *ngIf="projects$| async as projectsItems; else loading" class='table table-striped' aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author Id</th>
            <th>Team Id</th>
            <th>Created date</th>
            <th>Deadline date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projectsItems" [routerLink]="['update', project.id]">
            <td>{{project.id}}</td>
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>{{project.authorId}}</td>
            <td>{{project.teamId}}</td>
            <td>{{project.createdAt | dateUA}}</td>
            <td>{{project?.deadline! | dateUA}}</td>
        </tr>
    </tbody>
</table>