<form #createForm="ngForm" (ngSubmit)="onSubmit(user)">
    <mat-card>
        <h1 mat-dialog-title>Create Team</h1>
        <mat-form-field appearance="fill">
            <label>First Name:</label>
            <input required matInput name="firstName" [(ngModel)]="user.firstName" placeholder="First name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Last Name:</label>
            <input required matInput name="lastName" [(ngModel)]="user.lastName" placeholder="Last name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Email Name:</label>
            <input required email matInput name="email" [(ngModel)]="user.email" placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Team Id:</label>
            <input matInput name="teamId" [(ngModel)]="user.teamId" placeholder="Team id">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Birthday date</mat-label>
            <input required matInput name="birthDay" [(ngModel)]="user.birthDay" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div mat-dialog-actions>
            <button type="button" mat-button (click)="onNoClick(createForm)">No Thanks</button>
            <button type="submit" [disabled]="!createForm.valid" mat-button cdkFocusInitial>Send</button>
        </div>
    </mat-card>
</form>