<form #updateForm="ngForm" (ngSubmit)="onSubmit(data)" *ngIf="team$ | async as data">
    <mat-card>
        <h1 mat-dialog-title>Edit Team</h1>

        <mat-form-field appearance="fill">
            <label>Name:</label>
            <input required matInput [(ngModel)]="data.name" name="teamName" placeholder="Team name">
        </mat-form-field>

        <div mat-dialog-actions>
            <button type="button" mat-button (click)="onNoClick(updateForm)">No Thanks</button>
            <button type="submit" [disabled]="!updateForm.valid" *ngIf="updateForm.valid" mat-button
                cdkFocusInitial>Send</button>
        </div>
    </mat-card>
</form>